mixin fiddletize(snippet)
  div
    | Want to play around with this snippet?   
    form(action='http://jsfiddle.net/api/post/library/pure/', method='post', target="_blank", style="display: inline;")
      input(type="hidden", name="html", value=snippet)
      input.edit-fiddle(type="submit", value="Edit in JsFiddle")

div#widget-embedded.widget-tut()
  .snippet-header Copy this HTML/JS code on your website...
  pre(class="prettyprint")
    code #{include_snippet('embedded')}
  mixin fiddletize(include_snippet('embedded'))