html, body {
  font-family: 'Open Sans', Helvetica,Arial,sans-serif;
  font-size: 13px;
}

html, body {
  background-color: #F1F1F1;
}

html {
  overflow-y: scroll;
}

body {
  position: relative;
}

h1, h2, h3, h4, h5, h6 {
  color: #394755;
  font-weight: bold;
  margin: 28px 0 17px 0;
}

h1 {
  font-size: 28px;
 }

h2 {
  margin-bottom: 7px;
  font-size: 18px;
  color: #222;
}

h3 {
  font-size: 15px;
  margin-bottom: 3px;
  margin-top: 0px;
 }

h4 {
  font-size: 13px;
  margin-bottom: 3px;
  margin-top: 0px;
}

blockquote {
  border-left: 0px;
  padding: 0px;
  margin: 0 0 20px;
}

blockquote p {
  font-size: 13px;
  text-shadow: 0 1px 0 white;
  padding: 10px;
  background: #F9FAE9;
  border: 1px solid #D7D9C9;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  margin-right: 0 !important;
  margin-bottom: 30px !important;
}

p {
  margin: 0 0 20px;
}

pre  {
  margin: 0 0 20px;
}


header {
  width: 940px;
  margin: 20px auto 30px;
}

header a {
  display: inline-block;
  padding: 5px;
  font-weight: bold;
  font-size: 24px;
  color: #222;
  text-decoration: none;
  text-shadow: 0 1px 0 white;
}

header a:hover {
  text-decoration: none;
}

footer {
  width: 750px;
  padding-left: 190px;
  margin: 40px auto 60px;
  font-size: 12px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

footer ul {
  display: inline;
  padding: 0;
}

footer ul li {
  display: inline;
  padding-right: 15px;
  list-style: none;
}

footer ul li a {
  color: #999;
  text-decoration: none;
}

footer ul li a:hover {
  color: #222;
}

footer .right {
  float: right;
}

.container {
  position: relative;
  width: 940px;
  margin: 0 auto;
  padding-top: 25px;
}

.container > nav {
  position: absolute;
  z-index: 20;
  width: 190px;
  left: 0;
  top: 24px;
  bottom: 4px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.65);
  background: #EEE;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.6),0 0 1px 1px rgba(80, 84, 92, 0.1),0 1px 2px rgba(80, 84, 92, 0.2);
}

.container > nav > ul {
  padding: 0;
  margin: 0;
}

.container > nav > ul > li  {
  padding: 0;
  margin: 0;
  list-style: none;
}

.container > nav > ul > li > ul > li {
  line-height: 18px;
}

.container > nav > ul > li > span {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: bold;
  color: #9CA5B5;
  display: block;
  margin: 20px 0 4px 0;
  padding: 0 25px;
}

.container > nav > ul > li > span > i {
  font-size: 20px;
  position: absolute;
  margin-left: -16px;
}

.container > nav > ul ul {
  padding: 0;
  margin: 0;
}

.container > nav > ul ul > li {
  list-style: none;
}

.container > nav > ul ul > li > a {
  margin-bottom: 1px;
  font-size: 12px;
  text-decoration: none;
  color: #0068DE;
  display: block;
  padding: 1px 20px 1px 40px;
}
.container > nav > ul ul > li > a:hover {
  border-top: 1px solid rgba(156, 165, 181, 0.25);
  border-bottom: 1px solid #CACDD3;
  box-shadow: 1px 0 rgba(156, 165, 181, 0.08);
  background: transparent;
  background: -webkit-linear-gradient(white, #F0F2F5);
  background: -moz-linear-gradient(white, #F0F2F5);
  background: -ms-linear-gradient(white, #F0F2F5);
  background: -o-linear-gradient(white, #F0F2F5);
  background: linear-gradient(white, #F0F2F5);
  padding: 0 20px 0 40px;
}

.container > nav > ul ul > li.selected > a {
  padding: 0 20px 0 40px;
  border-top: 1px solid #394755;
  border-bottom: 1px solid #1a2026;
  box-shadow: 0 -1px 0 rgba(17, 46, 97, 0.03),0 1px 0 rgba(17, 46, 97, 0.15);
  background: #2e3945;
  background: transparent;
  background: -webkit-linear-gradient(#4f6275, #2e3945);
  background: -moz-linear-gradient(#4f6275, #2e3945);
  background: -ms-linear-gradient(#4f6275, #2e3945);
  background: -o-linear-gradient(#4f6275, #2e3945);
  background: linear-gradient(#4f6275, #2e3945);
  font-weight: 700;
  color: white;
  box-shadow: inset 0 1px 0 #678099;
  text-shadow: 0 -1px 0 rgba(26, 32, 38, 0.75);
}

.container > section {
  position: relative;
  z-index: 30;
  background: white;
  background: #fff;
  margin-left: 190px;
  box-shadow: 0 0 1px 1px rgba(80, 84, 92, 0.1),0 1px 2px rgba(80, 84, 92, 0.5);
  padding: 20px 30px;
  min-height: 925px;
}

.container.nosidebar {
  width: auto;
  padding: 20px;
}

.container > .nosidebar {
  margin-left: 0;
}

section ul, section ol {
  list-style-position: outside;
}

section ul li {
  list-style-type: square;
  padding-left: 4px;
  margin-top: 4px;
}

/* copy from bootstrap - applied without class attribute */
table {
  width: 100%;
  margin-bottom: 20px;
}
table th,
table td {
  padding: 8px;
  line-height: 20px;
  text-align: left;
  vertical-align: top;
  border-top: 1px solid #dddddd;
}
table th {
  font-weight: bold;
}
table thead th {
  vertical-align: bottom;
}
table caption + thead tr:first-child th,
table caption + thead tr:first-child td,
table colgroup + thead tr:first-child th,
table colgroup + thead tr:first-child td,
table thead:first-child tr:first-child th,
table thead:first-child tr:first-child td {
  border-top: 0;
}
table tbody + tbody {
  border-top: 2px solid #dddddd;
}

table {
  border: 1px solid #dddddd;
  border-collapse: separate;
  *border-collapse: collapse;
  border-left: 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
table th,
table td {
  border-left: 1px solid #dddddd;
}
table caption + thead tr:first-child th,
table caption + tbody tr:first-child th,
table caption + tbody tr:first-child td,
table colgroup + thead tr:first-child th,
table colgroup + tbody tr:first-child th,
table colgroup + tbody tr:first-child td,
table thead:first-child tr:first-child th,
table tbody:first-child tr:first-child th,
table tbody:first-child tr:first-child td {
  border-top: 0;
}
table thead:first-child tr:first-child th:first-child,
table tbody:first-child tr:first-child td:first-child {
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
}
table thead:first-child tr:first-child th:last-child,
table tbody:first-child tr:first-child td:last-child {
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
  -moz-border-radius-topright: 4px;
}
table thead:last-child tr:last-child th:first-child,
table tbody:last-child tr:last-child td:first-child,
table tfoot:last-child tr:last-child td:first-child {
  -webkit-border-radius: 0 0 0 4px;
  -moz-border-radius: 0 0 0 4px;
  border-radius: 0 0 0 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
}
table thead:last-child tr:last-child th:last-child,
table tbody:last-child tr:last-child td:last-child,
table tfoot:last-child tr:last-child td:last-child {
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
}
table caption + thead tr:first-child th:first-child,
table caption + tbody tr:first-child td:first-child,
table colgroup + thead tr:first-child th:first-child,
table colgroup + tbody tr:first-child td:first-child {
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
}
table caption + thead tr:first-child th:last-child,
table caption + tbody tr:first-child td:last-child,
table colgroup + thead tr:first-child th:last-child,
table colgroup + tbody tr:first-child td:last-child {
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
  -moz-border-radius-topright: 4px;
}
table tbody tr:nth-child(odd) td,
table tbody tr:nth-child(odd) th {
  background-color: #f9f9f9;
}
table tbody tr:hover td,
table tbody tr:hover th {
  background-color: #f5f5f5;
}

table p {
  margin: 0;
}

.header {
  background-color: #394755;
  height: 76px;
  -webkit-box-shadow: -5px 6px 15px -5px rgba(0, 0, 0, 0.50);
  box-shadow: -5px 6px 15px -5px rgba(0, 0, 0, 0.50);
  -webkit-box-shadow: -5px 6px 15px -5px rgba(0, 0, 0, 0.50);
  -moz-box-shadow: -5px 6px 15px -5px rgba(0, 0, 0, 0.50);
  -o-box-shadow: -5px 6px 15px -5px rgba(0, 0, 0, 0.50);
}

.header-container {
  max-width: 968px;
  margin: 0 auto;
}

.header-container ul {
  float: right;
  margin-top: 25px;
}

.header-container ul li {
  display: inline;
  margin: 20px;
  font-size: 16px;
  font-weight: 600;
  list-style: none;
}

.header-container ul li a {
  color: #fff;
  text-decoration: none;
}

.header-container ul li a:hover {
  background-color: #394755;
  color: #eee;
}

.header h1 {
  float: left;
  margin: 0;
  letter-spacing: 1px;
  font-weight: 800;
  margin-top: 16px;
  font-size: 32px;
  color: #fff;
  text-shadow: 0px 2px 3px #666;
}

.header .logo {
  background: url("/img/logo-small.png") 0 50% no-repeat;
  width: 40px;
  height: 76px;
  float: left;
  margin-left: 10px;
}

.main-container {
  max-width: 968px;
  margin: 0 auto;
  padding-top: 20px;
}

.navbar-fixed-top {
    margin-bottom: 0;
}
.navbar-inner {
  border-bottom: 0 none;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    filter: none;
    padding: 10px 0;
}
.navbar .brand {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 34px;
  font-weight: 800;
  letter-spacing: 1px;
  
}
.navbar .nav > li > a {
  font-size: 16px;
  font-weight: normal;
    text-shadow: none;
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -ms-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear; 
}
.navbar .nav > li > a:hover {
  -moz-transform: translateY(-5px);
  -webkit-transform: translateY(-5px);
  -o-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  transform: translateY(-5px);    
}
.navbar .nav > li.active > a,
.navbar .nav > li.active:hover > a,
.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
    padding-bottom: 4px;
  -webkit-box-shadow: none;
  box-shadow: none;
  -moz-box-shadow: none;
}
.btn-dropnav {
    float: right;
    margin-left: 5px;
    margin-right: 5px;
    padding: 7px 10px;
  display: none;
}
.btn-dropnav .icon-bar {
    background-color: #F5F5F5;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25); 
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
    display: block;
    height: 2px;
    width: 18px;
}
.btn-dropnav .icon-bar + .icon-bar {
    margin-top: 3px;
}

.navbar-inner {
    background: none repeat scroll 0 0 #394755;
}
.navbar .brand {
    color: #FFFFFF;
}
.navbar .nav > li > a {
    color: #D6DFE5;
}
.navbar .nav > li > a:hover {
    color: #FFFFFF; 
}
.navbar .nav > li.active > a,
.navbar .nav > li.active:hover > a,
.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
    background: none repeat scroll 0 0 transparent;
    border-bottom: 2px solid #308CCF;
    color: #FFFFFF;
}


pre code {
  white-space: pre;
}

pre {
  overflow: auto;
  word-break: normal;
  word-wrap: normal;
  white-space: pre;
}

h2.current-step {
  color: #0088cc;
  font-size: 20px;
}

h2.step-finished {
  color: #8cc84b;
}

h2.step-finished img {
  position: absolute;
  left: -18px;
  display: inline-block;
  margin-top: -3px;
}

.ticket {}

.installers {
  width: 550px;
  margin-bottom: 20px;
  display: table;
  padding: 10px;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.installers ul {
  width: auto;
  text-align: center;
  margin: 0 auto;
  display: table-row;
}

.installers ul img {
  display: block;
  margin: 0 auto;
}

.installers ul a {
  display: block;
  width: 100%;
  text-decoration: none;
  font-size: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.installers ul a:hover,
.installers ul a:active {
  background: #e1e1e8;
  color: #005580;
}

.installers ul li {
  width: 33%;
  display: table-cell;
}

.installers a small {
  font-size: 10px;
  display: block;
  color: #888;
}

.btn-mid {
  font-size: 14px;
  font-weight: bold;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}


.browser {
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 10px 0 0 0;
}

.browser iframe {
  border-radius: 0 0 5px 5px; 
  border: 0;
  width: 100%;
  height: 500px;
  display: block;
}

.browser .login-widget2 iframe {
  height: 650px;
}

.browser-toolbar {
  border-bottom: 1px solid #ddd;
  padding: 6px;
}

.browser-icons {
  float: left;
  padding: 7px 0 0 0;
  margin-left: 4px;
}

.browser-icons i {
  margin-right: 3px;
}

.browser-address {
  background: #ffffff;
  border: 1px solid #ddd;
  border-radius: 3px;
  margin-left: 60px;
  padding: 4px;
}
.browser-address i {
  margin-top: 2px;
}

.browser-content {
  background: #ffffff;
  border-radius: 0 0 5px 5px;
}

.edit-fiddle {
  color: #0088cc;
  border: none;
  font-family: 'Open Sans', Helvetica,Arial,sans-serif;
  padding-left: 35px;
  background: url("/img/logo-fiddle.png") 5% 40% no-repeat;
  margin-right: 15px;
  font-size: 13px;
}

.edit-fiddle:hover {
  color: #005580;
  text-decoration: underline;
}

a.anchor {
  margin-right: 5px;
  visibility: hidden;
  text-decoration: none;
}

h2,h3,h4 {
  left: -20px;
  position: relative;
}

h2:hover a.anchor{
  visibility: visible;
}
h3:hover a.anchor{
  visibility: visible;
}
h4:hover a.anchor{
  visibility: visible;
}

.fixit {
  position: fixed;
  bottom: 0;
  margin-left: 18px;
  margin-bottom: 5px;
  font-size: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.5);
}

.fixit i {
  margin-right: 5px;
  font-size: 14px;
}

.widget-tut .snippet-header {
  background-color: #8A8A8A;
  padding: 7px;
  color: white;
  border-radius: 2px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  margin-top: 5px;
}

.widget-tut pre {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

#widget-chooser {
  width: 400px;
}
