color_blue = #14204d;
color_blue_light = #3cc8f4;
color_red = #eb5422;
color_grey = #d1d2d4;

color_node_js = #a9d353;
color_asp= #4ea5c7;
color_aspnet_owin= #4e79c7;
color_azure= #684ec7;
color_servicestack= #a84ec7;
color_php= #cf5191;
color_rails= #e35e59;
color_ios= #e39359;
color_android= #e3ae59;
color_windowsphone= #e3ca59;
color_xamarin= #dfe158;
color_win8= #4ec75c;
color_win8_cs= #f00;

.btn-package {
  white-space: normal;
  margin-bottom: 0px;
}

div.package span:first-child {
  display: block;
}

div.package span {
  color: white;
}

div.package a.btn-package {
  line-height: 20px;
}

div.package span.smaller {
  font-size: 10px;
}

&.wpf-winforms-tutorial i
  border-color: #ffc0cb;

.sub-header
  .btn
    min-width: 226px;
  .dropdown-menu
    min-width: 226px;

.sub-navbar
  background: #5d676f;
  .navbar-text
    color: white;
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
  .navbar-form
    input, button
      &:focus, &:active
        outline: 0;
        border: 1px solid #ccc;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;

    .btn
      font-size: 14px;
      padding-left: 10px;
      padding-right: 10px;
      i
        font-size: 14px;
        line-height: 14px;
        display: inline-block;
        vertical-align: middle;

.page-docs

  #tutorial-navigator .step.select-app-type
    padding: 20px 4px;
    .app-type .app-type-item strong.label
      padding: 0;


  .installers {
    width: 550px;
    margin-bottom: 20px;
    display: table;
    padding: 10px;
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
  }

  .installers ul {
    width: auto;
    text-align: center;
    margin: 0 auto;
    display: table-row;
  }

  .installers ul img {
    display: block;
    margin: 0 auto;
  }

  .installers ul a {
    display: block;
    width: 100%;
    text-decoration: none;
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .installers ul a:hover,
  .installers ul a:active {
    background: #e1e1e8;
    color: #005580;
  }

  .installers ul li {
    width: 33%;
    display: table-cell;
  }

  .installers a small {
    font-size: 10px;
    display: block;
    color: #888;
  }

  .btn-mid {
    font-size: 14px;
    font-weight: bold;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  }


  .browser {
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 10px 0 0 0;
  }

  .browser iframe {
    border-radius: 0 0 5px 5px;
    border: 0;
    width: 100%;
    height: 500px;
    display: block;
  }

  .browser .login-widget2 iframe {
    height: 650px;
  }

  .browser-toolbar {
    border-bottom: 1px solid #ddd;
    padding: 6px;
  }

  .browser-icons {
    float: left;
    padding: 8px 0 0 0;
    margin-left: 10px;
  }

  .browser-icons i {
    margin-right: 10px;
    color: color_blue;
  }

  .browser-address {
    background: #ffffff;
    border: 1px solid #ddd;
    border-radius: 3px;
    margin-left: 90px;
    padding: 4px;
  }
  .browser-address i {
    top: 3px;
    position: relative;
    opacity: .5;
    left: 2px;
  }

  .browser-content {
    background: #ffffff;
    border-radius: 0 0 5px 5px;
  }

  .edit-fiddle {
    color: #0088cc;
    border: none;
    font-family: 'Open Sans', Helvetica,Arial,sans-serif;
    padding-left: 35px;
    background: url("/img/logo-fiddle.png") 5% 40% no-repeat;
    margin-right: 15px;
    font-size: 13px;
  }

  .edit-fiddle:hover {
    color: #005580;
    text-decoration: underline;
  }

  a.anchor
    margin-left: -24px;
    visibility: hidden;
    text-decoration: none;
    position: relative;

    i
      font-size: 14px;
      width: 24px;
      display: inline-block

      &:hover
        visibility

  h2:hover a.anchor{
    visibility: visible;
  }
  h3:hover a.anchor{
    visibility: visible;
  }
  h4:hover a.anchor{
    visibility: visible;
  }


  .widget-tut .snippet-header {
    background-color: #8A8A8A;
    padding: 7px;
    color: white;
    border-radius: 2px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin-top: 5px;
  }

  .widget-tut pre {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  #widget-chooser {
    width: 400px;
  }


  h1, h2,h3,h4,h5
    margin-top: 20px;
    margin-bottom: 20px;
    i
      display: none

  h1
    margin-top: 0;

  p,li
    color: #4d4d4d;

  pre
    border: 0;
    padding: 20px;
    font-size: 13px;
    line-height: 20px;
    margin-bottom: 20px;

  .sidebar-docs
    ul
      margin: 0;
      padding: 0;
      max-width: 230px;
      list-style: none;
      li.box
        border: 1px solid #eee;
        border-radius: 3px;
        margin-bottom: 20px;
        padding: 14px 20px;
        strong
          text-transform: uppercase
          font-weight: bold;
          font-size: 12px;
          margin-bottom: 6px;
          display: block
          letter-spacing: 1px;
          color: #999;
        a
          color: #666;

          &:hover
            color: black;

        &.box-terminal, &.box-mobile-phone, &.box-html5, &.box-laptop
          background: #f9f9f9;
          border-color: transparent;

        &.box-terminal, &.box-mobile-phone
          margin-bottom: 0;
          padding-bottom: 0;

        &.box-mobile-phone
          border-radius: 0;

        &.box-html5
          border-radius: 0;
          border-bottom-right-radius: 3px;
          border-bottom-left-radius: 3px;

    ul
      li
        line-height: 28px;

        i:before
          content: "\e16f";
          font-family: "budicon-font" !important;
          speak: none;
        i
          width: 10px;
          height: 10px;
          display: inline-block
          font-family: "budicon-font" !important;
          font-style: normal !important;
          font-weight: normal !important;
          font-variant: normal !important;
          text-transform: none !important;
          speak: none;
          line-height: 1;
          margin-right: 8px;
          position: relative;
          top: 2px;
          height: 14px;
          // background: red;

        &.selected
          a
            color: black !important;
            // font-weight: bold;



    li.box-laptop:before
      text-transform: uppercase
      font-weight: bold;
      font-size: 12px;
      margin-bottom: 6px;
      display: block
      letter-spacing: 1px;
      color: #333

    li.box-laptop, li.box-mobile-phone

      ul
        li
          i
            border: 2px solid #666;
            height: 10px;
            border-radius: 100px;
            position: relative
            position: static;
            &:before
              content: none;


          &.nodejs-tutorial i
            border-color: #a9d353;

          &.aspnet-tutorial i
            border-color: #4ea5c7;

          &.aspnet-owin-tutorial i
            border-color: #4e79c7;

          &.azure-tutorial i
            border-color: #684ec7;

          &.servicestack-tutorial i
            border-color: #a84ec7;

          &.php-tutorial i
            border-color: #cf5191;

          &.rails-tutorial i
            border-color: #e35e59;

          &.ios-tutorial i
            border-color: #e39359;


          &.android-tutorial i
            border-color: #e3ae59;


          &.windowsphone-tutorial i
            border-color: #e3ca59;


          &.xamarin-tutorial i
            border-color: #dfe158;


          &.win8-tutorial i
            border-color: #4ec75c;


          &.win8-cs-tutorial i
            border-color: #f00;


          &.wpf-winforms-tutorial i
            border-color: #ffc0cb;



    li.box-mobile-phone
      ul
        li
          i
            border-radius: 0;



  section.content
    h1
      margin-top: 0;

    li, p
      line-height: 26px;
      font-size: 15px;

    p
      margin-bottom: 20px;

    ul, ol
      padding: 0;
      padding-left: 18px;
      margin: 0;
      margin-bottom: 20px;

    blockquote
      background: lighten(color_blue_light, 90%);
      border: 0;
      text-align: center
      color: white;
      padding: 30px 40px;
      margin-bottom: 20px;
      p
        line-height: 30px;
        color: color_blue
        margin: 0;

    img
      max-width: 100%;

  .getting-started-logos
    margin-bottom: 30px;
    margin-top: 30px;
    overflow: hidden

  .logo-tutorial
    background-color: #f1f1f1;
    text-align: center
    border-radius: 3px;
    display: block
    padding: 10px;
    strong
      background-color: white;
      display: block
      padding: 10px 0;
      border-radius: 3px;
      img
        height: 45px;
        max-width: 100%;


    span
      text-transform: uppercase
      font-weight: bold
      display: block
      margin-top: 6px;
      font-size: 11px;
      letter-spacing: 1px;
      color: #333;

  .fixit
    display: block
    margin-top: 20px;
    text-align: right
    padding-top: 20px;
    border-top: 1px solid #eee;
    color: #666;
    a
      font-weight: bold
