color_blue = #14204d;
color_blue_light = #3cc8f4;
color_red = #eb5422;
color_grey = #d1d2d4;
.page-docs
  padding-top: 120px;

  .banner 
    padding: 14px 20px;
    border-radius: 3px;
    margin-bottom: 30px;
    ul 
      padding: 0;
      margin: 0;
      li 
        float: left
        display: inline-block
        color: white;
        font-weight: bold
        font-size: 12px;

  h2.step-finished {
    color: #8cc84b;
  }

  h2.step-finished img {
    position: absolute;
    left: -18px;
    display: inline-block;
    margin-top: -3px;
  }

  .installers {
    width: 550px;
    margin-bottom: 20px;
    display: table;
    padding: 10px;
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
  }

  .installers ul {
    width: auto;
    text-align: center;
    margin: 0 auto;
    display: table-row;
  }

  .installers ul img {
    display: block;
    margin: 0 auto;
  }

  .installers ul a {
    display: block;
    width: 100%;
    text-decoration: none;
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .installers ul a:hover,
  .installers ul a:active {
    background: #e1e1e8;
    color: #005580;
  }

  .installers ul li {
    width: 33%;
    display: table-cell;
  }

  .installers a small {
    font-size: 10px;
    display: block;
    color: #888;
  }

  .btn-mid {
    font-size: 14px;
    font-weight: bold;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  }


  .browser {
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 10px 0 0 0;
  }

  .browser iframe {
    border-radius: 0 0 5px 5px; 
    border: 0;
    width: 100%;
    height: 500px;
    display: block;
  }

  .browser .login-widget2 iframe {
    height: 650px;
  }

  .browser-toolbar {
    border-bottom: 1px solid #ddd;
    padding: 6px;
  }

  .browser-icons {
    float: left;
    padding: 7px 0 0 0;
    margin-left: 4px;
  }

  .browser-icons i {
    margin-right: 3px;
  }

  .browser-address {
    background: #ffffff;
    border: 1px solid #ddd;
    border-radius: 3px;
    margin-left: 60px;
    padding: 4px;
  }
  .browser-address i {
    margin-top: 2px;
  }

  .browser-content {
    background: #ffffff;
    border-radius: 0 0 5px 5px;
  }

  .edit-fiddle {
    color: #0088cc;
    border: none;
    font-family: 'Open Sans', Helvetica,Arial,sans-serif;
    padding-left: 35px;
    background: url("/img/logo-fiddle.png") 5% 40% no-repeat;
    margin-right: 15px;
    font-size: 13px;
  }

  .edit-fiddle:hover {
    color: #005580;
    text-decoration: underline;
  }

  a.anchor 
    margin-left: -24px;
    visibility: hidden;
    text-decoration: none;
    position: relative;

    i 
      font-size: 14px;
      width: 24px;
      display: inline-block
  
      &:hover 
        visibility

  h2:hover a.anchor{
    visibility: visible;
  }
  h3:hover a.anchor{
    visibility: visible;
  }
  h4:hover a.anchor{
    visibility: visible;
  }


  .widget-tut .snippet-header {
    background-color: #8A8A8A;
    padding: 7px;
    color: white;
    border-radius: 2px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin-top: 5px;
  }

  .widget-tut pre {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  #widget-chooser {
    width: 400px;
  }


  header.site-header
    position: fixed;

  h1, h2,h3,h4,h5
    margin-top: 20px;
    margin-bottom: 20px;
    i 
      display: none

  h1 
    margin-top: 0;

  p,li 
    color: #4d4d4d;

  pre 
    border: 0;
    padding: 20px;
    font-size: 13px;
    line-height: 20px;
    margin-bottom: 20px;

  .sidebar-docs
    ul 
      margin: 0;
      padding: 0;
      max-width: 230px;
      list-style: none;
      li.box
        border: 1px solid #eee;
        border-radius: 3px;
        margin-bottom: 20px;
        padding: 14px 20px;
        strong 
          text-transform: uppercase
          font-weight: bold;
          font-size: 12px;
          margin-bottom: 6px;
          display: block
          letter-spacing: 1px;
          color: #999;
        a 
          color: #666;

          &:hover, &.selected
            color: black;



        &.box-laptop
          background: #f1f1f1;
      

    ul 
      li 
        line-height: 28px;

        i:before
          content: "\e16f";
          font-family: "budicon-font" !important;
          speak: none;
        i 
          width: 10px;
          height: 10px;
          display: inline-block
          font-family: "budicon-font" !important;
          font-style: normal !important;
          font-weight: normal !important;
          font-variant: normal !important;
          text-transform: none !important;
          speak: none;
          line-height: 1;
          margin-right: 8px;
          position: relative;
          top: -2px;

    li.box-laptop, .box-mobile-phone

      ul
        li 
          i
            border: 2px solid #666;
            border-radius: 100px;
            position: relative
            position: static;
            &:before
              content: none;
       

        /* line 64 : /app/lib/docs/docs.styl */
        .docs-page .quick-start ul li.node i {
          border-color: #a9d353;
        }

        /* line 66 : /app/lib/docs/docs.styl */
        .docs-page .quick-start ul li.asp i {
          border-color: #4ea5c7;
        }

        /* line 68 : /app/lib/docs/docs.styl */
        .docs-page .quick-start ul li.asp-win i {
          border-color: #4e79c7;
        }

        /* line 70 : /app/lib/docs/docs.styl */
        .docs-page .quick-start ul li.windows-azure i {
          border-color: #684ec7;
        }

        /* line 72 : /app/lib/docs/docs.styl */
        .docs-page .quick-start ul li.service-stack i {
          border-color: #a84ec7;
        }

        /* line 74 : /app/lib/docs/docs.styl */
        .docs-page .quick-start ul li.php i {
          border-color: #cf5191;
        }

        /* line 76 : /app/lib/docs/docs.styl */
        .docs-page .quick-start ul li.ruby-on-rails i {
          border-color: #e35e59;
        }

        /* line 78 : /app/lib/docs/docs.styl */
        .docs-page .quick-start ul li.ios i {
          border-color: #e39359;
        }

        /* line 80 : /app/lib/docs/docs.styl */
        .docs-page .quick-start ul li.android i {
          border-color: #e3ae59;
        }

        /* line 82 : /app/lib/docs/docs.styl */
        .docs-page .quick-start ul li.windows-phone i {
          border-color: #e3ca59;
        }

        /* line 84 : /app/lib/docs/docs.styl */
        .docs-page .quick-start ul li.xamarin i {
          border-color: #dfe158;
        }

        /* line 86 : /app/lib/docs/docs.styl */
        .docs-page .quick-start ul li.windows-8-c i {
          border-color: #4ec75c;
        }

        /* line 88 : /app/lib/docs/docs.styl */
        .docs-page .quick-start ul li.windows-8-js i {
          border-color: #f00;
        }

        /* line 90 : /app/lib/docs/docs.styl */
        .docs-page .quick-start ul li.wpf i {
          border-color: #ffc0cb;
        }


      
    li.box-mobile-phone
      ul 
        li 
          i 
            border-radius: 0;

       

  section.content
    h1 
      margin-top: 0;

    li, p
      line-height: 26px;
      font-size: 15px;

    p
      margin-bottom: 20px;

    ul, ol
      padding: 0;
      padding-left: 18px;
      margin: 0; 
      margin-bottom: 20px;

    blockquote
      background: lighten(color_blue_light, 90%);
      border: 0;
      font-family: georgia;
      text-align: center
      color: white;
      padding: 30px 40px;
      margin-bottom: 20px;
      p
        line-height: 30px;
        color: color_blue
        margin: 0;

    img 
      max-width: 100%;

  .fixit
    display: block
    margin-top: 20px;
    text-align: right
    padding-top: 20px;
    border-top: 1px solid #eee;
    color: #666;
    a 
      font-weight: bold
