.page-docs {
  padding-top: 120px;
}
.page-docs .banner {
  padding: 14px 20px;
  border-radius: 3px;
  margin-bottom: 30px;
}
.page-docs .banner ul {
  padding: 0;
  margin: 0;
}
.page-docs .banner ul li {
  float: left;
  display: inline-block;
  color: #fff;
  font-weight: bold;
  font-size: 12px;
}
.page-docs h2.step-finished {
  color: #8cc84b;
}
.page-docs h2.step-finished img {
  position: absolute;
  left: -18px;
  display: inline-block;
  margin-top: -3px;
}
.page-docs .installers {
  width: 550px;
  margin-bottom: 20px;
  display: table;
  padding: 10px;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.page-docs .installers ul {
  width: auto;
  text-align: center;
  margin: 0 auto;
  display: table-row;
}
.page-docs .installers ul img {
  display: block;
  margin: 0 auto;
}
.page-docs .installers ul a {
  display: block;
  width: 100%;
  text-decoration: none;
  font-size: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.page-docs .installers ul a:hover,
.page-docs .installers ul a:active {
  background: #e1e1e8;
  color: #005580;
}
.page-docs .installers ul li {
  width: 33%;
  display: table-cell;
}
.page-docs .installers a small {
  font-size: 10px;
  display: block;
  color: #888;
}
.page-docs .btn-mid {
  font-size: 14px;
  font-weight: bold;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.page-docs .browser {
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 10px 0 0 0;
}
.page-docs .browser iframe {
  border-radius: 0 0 5px 5px;
  border: 0;
  width: 100%;
  height: 500px;
  display: block;
}
.page-docs .browser .login-widget2 iframe {
  height: 650px;
}
.page-docs .browser-toolbar {
  border-bottom: 1px solid #ddd;
  padding: 6px;
}
.page-docs .browser-icons {
  float: left;
  padding: 7px 0 0 0;
  margin-left: 4px;
}
.page-docs .browser-icons i {
  margin-right: 3px;
}
.page-docs .browser-address {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
  margin-left: 60px;
  padding: 4px;
}
.page-docs .browser-address i {
  margin-top: 2px;
}
.page-docs .browser-content {
  background: #fff;
  border-radius: 0 0 5px 5px;
}
.page-docs .edit-fiddle {
  color: #08c;
  border: none;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  padding-left: 35px;
  background: url("/img/logo-fiddle.png") 5% 40% no-repeat;
  margin-right: 15px;
  font-size: 13px;
}
.page-docs .edit-fiddle:hover {
  color: #005580;
  text-decoration: underline;
}
.page-docs a.anchor {
  margin-right: 5px;
  visibility: hidden;
  text-decoration: none;
}
.page-docs h2:hover a.anchor {
  visibility: visible;
}
.page-docs h3:hover a.anchor {
  visibility: visible;
}
.page-docs h4:hover a.anchor {
  visibility: visible;
}
.page-docs .widget-tut .snippet-header {
  background-color: #8a8a8a;
  padding: 7px;
  color: #fff;
  border-radius: 2px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  margin-top: 5px;
}
.page-docs .widget-tut pre {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.page-docs #widget-chooser {
  width: 400px;
}
.page-docs header.site-header {
  position: fixed;
}
.page-docs h1,
.page-docs h2,
.page-docs h3,
.page-docs h4,
.page-docs h5 {
  margin-top: 20px;
  margin-bottom: 20px;
}
.page-docs h1 {
  margin-top: 0;
}
.page-docs p,
.page-docs li {
  color: #4d4d4d;
}
.page-docs pre {
  border: 0;
  padding: 20px;
  font-size: 13px;
  line-height: 20px;
  margin-bottom: 20px;
}
.page-docs .sidebar-docs ul {
  margin: 0;
  padding: 0;
  max-width: 230px;
  list-style: none;
}
.page-docs .sidebar-docs ul li.box {
  border: 1px solid #eee;
  border-radius: 3px;
  margin-bottom: 20px;
  padding: 20px;
}
.page-docs .sidebar-docs ul li.box span {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  margin-bottom: 10px;
  display: block;
  letter-spacing: 1px;
  color: #999;
}
.page-docs .sidebar-docs ul li.box a {
  color: #333;
}
.page-docs .sidebar-docs ul li.box.box-laptop {
  background: #f1f1f1;
}
.page-docs .sidebar-docs ul ul li {
  line-height: 28px;
}
.page-docs .sidebar-docs ul ul li i {
  width: 10px;
  height: 10px;
  display: inline-block;
  border: 2px solid #666;
  border-radius: 100px;
  position: relative;
  margin-right: 8px;
}
.page-docs section.content h1 {
  margin-top: 0;
}
.page-docs section.content li,
.page-docs section.content p {
  line-height: 26px;
  font-size: 15px;
}
.page-docs section.content p {
  margin-bottom: 20px;
}
.page-docs section.content ul,
.page-docs section.content ol {
  padding: 0;
  padding-left: 18px;
  margin: 0;
  margin-bottom: 20px;
}
.page-docs section.content blockquote {
  background: #ecfafe;
  border: 0;
  font-family: georgia;
  text-align: center;
  color: #fff;
  padding: 30px 40px;
  margin-bottom: 20px;
}
.page-docs section.content blockquote p {
  line-height: 30px;
  color: #14204d;
  margin: 0;
}
.page-docs section.content img {
  max-width: 100%;
}
.page-docs .fixit {
  display: block;
  margin-top: 20px;
  text-align: right;
  padding-top: 20px;
  border-top: 1px solid #eee;
  color: #666;
}
.page-docs .fixit a {
  font-weight: bold;
}
