color_blue = #14204d;
color_blue_light = #3cc8f4;
color_red = #eb5422;
color_grey = #d1d2d4;

h2.step-finished {
  color: #8cc84b;
}

h2.step-finished img {
  position: absolute;
  left: -18px;
  display: inline-block;
  margin-top: -3px;
}

.installers {
  width: 550px;
  margin-bottom: 20px;
  display: table;
  padding: 10px;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.installers ul {
  width: auto;
  text-align: center;
  margin: 0 auto;
  display: table-row;
}

.installers ul img {
  display: block;
  margin: 0 auto;
}

.installers ul a {
  display: block;
  width: 100%;
  text-decoration: none;
  font-size: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.installers ul a:hover,
.installers ul a:active {
  background: #e1e1e8;
  color: #005580;
}

.installers ul li {
  width: 33%;
  display: table-cell;
}

.installers a small {
  font-size: 10px;
  display: block;
  color: #888;
}

.btn-mid {
  font-size: 14px;
  font-weight: bold;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}


.browser {
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 10px 0 0 0;
}

.browser iframe {
  border-radius: 0 0 5px 5px; 
  border: 0;
  width: 100%;
  height: 500px;
  display: block;
}

.browser .login-widget2 iframe {
  height: 650px;
}

.browser-toolbar {
  border-bottom: 1px solid #ddd;
  padding: 6px;
}

.browser-icons {
  float: left;
  padding: 7px 0 0 0;
  margin-left: 4px;
}

.browser-icons i {
  margin-right: 3px;
}

.browser-address {
  background: #ffffff;
  border: 1px solid #ddd;
  border-radius: 3px;
  margin-left: 60px;
  padding: 4px;
}
.browser-address i {
  margin-top: 2px;
}

.browser-content {
  background: #ffffff;
  border-radius: 0 0 5px 5px;
}

.edit-fiddle {
  color: #0088cc;
  border: none;
  font-family: 'Open Sans', Helvetica,Arial,sans-serif;
  padding-left: 35px;
  background: url("/img/logo-fiddle.png") 5% 40% no-repeat;
  margin-right: 15px;
  font-size: 13px;
}

.edit-fiddle:hover {
  color: #005580;
  text-decoration: underline;
}

a.anchor {
  margin-right: 5px;
  visibility: hidden;
  text-decoration: none;
}


.widget-tut .snippet-header {
  background-color: #8A8A8A;
  padding: 7px;
  color: white;
  border-radius: 2px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  margin-top: 5px;
}

.widget-tut pre {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

#widget-chooser {
  width: 400px;
}

body 
  padding-top: 130px;

header.site-header
  position: fixed;

h1, h2,h3,h4,h5
  margin-top: 20px;
  margin-bottom: 20px;

h1 
  margin-top: 0;

p,li 
  color: #4d4d4d;

pre 
  border: 0;
  padding: 20px;
  font-size: 13px;
  line-height: 20px;
  margin-bottom: 20px;

.sidebar-docs
  ul 
    margin: 0;
    padding: 0;
    max-width: 230px;
    list-style: none;
    li.box
      border: 1px solid #eee;
      border-radius: 5px;
      margin-bottom: 20px;
      padding: 20px;
      span 
        text-transform: uppercase
        font-weight: bold;
        font-size: 12px;
        margin-bottom: 10px;
        display: block
        letter-spacing: 1px;
        color: #999;
      a 
        color: #333;

    ul
      li
        line-height: 28px;


section.content
  h1 
    margin-top: 0;

  li, p
    line-height: 26px;

  p
    margin-bottom: 20px;

  ul, ol
    padding: 0;
    padding-left: 18px;
    margin: 0; 
    margin-bottom: 20px;


  blockquote
    background: lighten(color_blue_light, 90%);
    border: 0;
    font-family: georgia;
    text-align: center
    color: white;
    padding: 20px 30px;
    p
      line-height: 30px;
      color: color_blue
      margin: 0;


.fixit
  display: block
  margin-top: 20px;
  text-align: right
  padding-top: 20px;
  border-top: 1px solid #eee;
  color: #666;
  a 
    font-weight: bold
