.btn-package {
  white-space: normal;
  margin-bottom: 0px;
}
div.package span:first-child {
  display: block;
}
div.package span {
  color: #fff;
}
div.package a.btn-package {
  line-height: 20px;
}
div.package span.smaller {
  font-size: 10px;
}
.wpf-winforms-tutorial i {
  border-color: #ffc0cb;
}
.sub-header .btn {
  min-width: 226px;
}
.sub-header .dropdown-menu {
  min-width: 226px;
}
.sub-navbar {
  background: #5d676f;
}
.sub-navbar .navbar-text {
  color: #fff;
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
}
.sub-navbar .navbar-form input:focus,
.sub-navbar .navbar-form button:focus,
.sub-navbar .navbar-form input:active,
.sub-navbar .navbar-form button:active {
  outline: 0;
  border: 1px solid #ccc;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.sub-navbar .navbar-form .btn {
  font-size: 14px;
  padding-left: 10px;
  padding-right: 10px;
}
.sub-navbar .navbar-form .btn i {
  font-size: 14px;
  line-height: 14px;
  display: inline-block;
  vertical-align: middle;
}
.page-docs #tutorial-navigator .step.select-app-type {
  padding: 20px 4px;
}
.page-docs #tutorial-navigator .step.select-app-type .app-type .app-type-item strong.label {
  padding: 0;
}
.page-docs .installers {
  width: 550px;
  margin-bottom: 20px;
  display: table;
  padding: 10px;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.page-docs .installers ul {
  width: auto;
  text-align: center;
  margin: 0 auto;
  display: table-row;
}
.page-docs .installers ul img {
  display: block;
  margin: 0 auto;
}
.page-docs .installers ul a {
  display: block;
  width: 100%;
  text-decoration: none;
  font-size: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.page-docs .installers ul a:hover,
.page-docs .installers ul a:active {
  background: #e1e1e8;
  color: #005580;
}
.page-docs .installers ul li {
  width: 33%;
  display: table-cell;
}
.page-docs .installers a small {
  font-size: 10px;
  display: block;
  color: #888;
}
.page-docs .btn-mid {
  font-size: 14px;
  font-weight: bold;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.page-docs .browser {
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 10px 0 0 0;
}
.page-docs .browser iframe {
  border-radius: 0 0 5px 5px;
  border: 0;
  width: 100%;
  height: 500px;
  display: block;
}
.page-docs .browser .login-widget2 iframe {
  height: 650px;
}
.page-docs .browser-toolbar {
  border-bottom: 1px solid #ddd;
  padding: 6px;
}
.page-docs .browser-icons {
  float: left;
  padding: 8px 0 0 0;
  margin-left: 10px;
}
.page-docs .browser-icons i {
  margin-right: 10px;
  color: #14204d;
}
.page-docs .browser-address {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
  margin-left: 90px;
  padding: 4px;
}
.page-docs .browser-address i {
  top: 3px;
  position: relative;
  opacity: 0.5;
  left: 2px;
}
.page-docs .browser-content {
  background: #fff;
  border-radius: 0 0 5px 5px;
}
.page-docs .edit-fiddle {
  color: #08c;
  border: none;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  padding-left: 35px;
  background: url("/img/logo-fiddle.png") 5% 40% no-repeat;
  margin-right: 15px;
  font-size: 13px;
}
.page-docs .edit-fiddle:hover {
  color: #005580;
  text-decoration: underline;
}
.page-docs a.anchor {
  margin-left: -24px;
  visibility: hidden;
  text-decoration: none;
  position: relative;
}
.page-docs a.anchor i {
  font-size: 14px;
  width: 24px;
  display: inline-block;
}
.page-docs h2:hover a.anchor {
  visibility: visible;
}
.page-docs h3:hover a.anchor {
  visibility: visible;
}
.page-docs h4:hover a.anchor {
  visibility: visible;
}
.page-docs .widget-tut .snippet-header {
  background-color: #8a8a8a;
  padding: 7px;
  color: #fff;
  border-radius: 2px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  margin-top: 5px;
}
.page-docs .widget-tut pre {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.page-docs #widget-chooser {
  width: 400px;
}
.page-docs h1,
.page-docs h2,
.page-docs h3,
.page-docs h4,
.page-docs h5 {
  margin-top: 20px;
  margin-bottom: 20px;
}
.page-docs h1 i,
.page-docs h2 i,
.page-docs h3 i,
.page-docs h4 i,
.page-docs h5 i {
  display: none;
}
.page-docs h1 {
  margin-top: 0;
}
.page-docs p,
.page-docs li {
  color: #4d4d4d;
}
.page-docs pre {
  border: 0;
  padding: 20px;
  font-size: 13px;
  line-height: 20px;
  margin-bottom: 20px;
}
.page-docs .sidebar-docs ul {
  margin: 0;
  padding: 0;
  max-width: 230px;
  list-style: none;
}
.page-docs .sidebar-docs ul li.box {
  border: 1px solid #eee;
  border-radius: 3px;
  margin-bottom: 20px;
  padding: 14px 20px;
}
.page-docs .sidebar-docs ul li.box strong {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  margin-bottom: 6px;
  display: block;
  letter-spacing: 1px;
  color: #999;
}
.page-docs .sidebar-docs ul li.box a {
  color: #666;
}
.page-docs .sidebar-docs ul li.box a:hover {
  color: #000;
}
.page-docs .sidebar-docs ul li.box.box-terminal,
.page-docs .sidebar-docs ul li.box.box-mobile-phone,
.page-docs .sidebar-docs ul li.box.box-html5,
.page-docs .sidebar-docs ul li.box.box-laptop {
  background: #f9f9f9;
  border-color: transparent;
}
.page-docs .sidebar-docs ul li.box.box-terminal,
.page-docs .sidebar-docs ul li.box.box-mobile-phone {
  margin-bottom: 0;
  padding-bottom: 0;
}
.page-docs .sidebar-docs ul li.box.box-mobile-phone {
  border-radius: 0;
}
.page-docs .sidebar-docs ul li.box.box-html5 {
  border-radius: 0;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
.page-docs .sidebar-docs ul li {
  line-height: 28px;
}
.page-docs .sidebar-docs ul li i:before {
  content: "\e16f";
  font-family: "budicon-font" !important;
  speak: none;
}
.page-docs .sidebar-docs ul li i {
  width: 10px;
  height: 10px;
  display: inline-block;
  font-family: "budicon-font" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  margin-right: 8px;
  position: relative;
  top: 2px;
  height: 14px;
}
.page-docs .sidebar-docs ul li.selected a {
  color: #000 !important;
}
.page-docs .sidebar-docs li.box-laptop:before {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  margin-bottom: 6px;
  display: block;
  letter-spacing: 1px;
  color: #333;
}
.page-docs .sidebar-docs li.box-laptop ul li i,
.page-docs .sidebar-docs li.box-mobile-phone ul li i {
  border: 2px solid #666;
  height: 10px;
  border-radius: 100px;
  position: relative;
  position: static;
}
.page-docs .sidebar-docs li.box-laptop ul li i:before,
.page-docs .sidebar-docs li.box-mobile-phone ul li i:before {
  content: none;
}
.page-docs .sidebar-docs li.box-laptop ul li.nodejs-tutorial i,
.page-docs .sidebar-docs li.box-mobile-phone ul li.nodejs-tutorial i {
  border-color: #a9d353;
}
.page-docs .sidebar-docs li.box-laptop ul li.aspnet-tutorial i,
.page-docs .sidebar-docs li.box-mobile-phone ul li.aspnet-tutorial i {
  border-color: #4ea5c7;
}
.page-docs .sidebar-docs li.box-laptop ul li.aspnet-owin-tutorial i,
.page-docs .sidebar-docs li.box-mobile-phone ul li.aspnet-owin-tutorial i {
  border-color: #4e79c7;
}
.page-docs .sidebar-docs li.box-laptop ul li.azure-tutorial i,
.page-docs .sidebar-docs li.box-mobile-phone ul li.azure-tutorial i {
  border-color: #684ec7;
}
.page-docs .sidebar-docs li.box-laptop ul li.servicestack-tutorial i,
.page-docs .sidebar-docs li.box-mobile-phone ul li.servicestack-tutorial i {
  border-color: #a84ec7;
}
.page-docs .sidebar-docs li.box-laptop ul li.php-tutorial i,
.page-docs .sidebar-docs li.box-mobile-phone ul li.php-tutorial i {
  border-color: #cf5191;
}
.page-docs .sidebar-docs li.box-laptop ul li.rails-tutorial i,
.page-docs .sidebar-docs li.box-mobile-phone ul li.rails-tutorial i {
  border-color: #e35e59;
}
.page-docs .sidebar-docs li.box-laptop ul li.ios-tutorial i,
.page-docs .sidebar-docs li.box-mobile-phone ul li.ios-tutorial i {
  border-color: #e39359;
}
.page-docs .sidebar-docs li.box-laptop ul li.android-tutorial i,
.page-docs .sidebar-docs li.box-mobile-phone ul li.android-tutorial i {
  border-color: #e3ae59;
}
.page-docs .sidebar-docs li.box-laptop ul li.windowsphone-tutorial i,
.page-docs .sidebar-docs li.box-mobile-phone ul li.windowsphone-tutorial i {
  border-color: #e3ca59;
}
.page-docs .sidebar-docs li.box-laptop ul li.xamarin-tutorial i,
.page-docs .sidebar-docs li.box-mobile-phone ul li.xamarin-tutorial i {
  border-color: #dfe158;
}
.page-docs .sidebar-docs li.box-laptop ul li.win8-tutorial i,
.page-docs .sidebar-docs li.box-mobile-phone ul li.win8-tutorial i {
  border-color: #4ec75c;
}
.page-docs .sidebar-docs li.box-laptop ul li.win8-cs-tutorial i,
.page-docs .sidebar-docs li.box-mobile-phone ul li.win8-cs-tutorial i {
  border-color: #f00;
}
.page-docs .sidebar-docs li.box-laptop ul li.wpf-winforms-tutorial i,
.page-docs .sidebar-docs li.box-mobile-phone ul li.wpf-winforms-tutorial i {
  border-color: #ffc0cb;
}
.page-docs .sidebar-docs li.box-mobile-phone ul li i {
  border-radius: 0;
}
.page-docs section.content h1 {
  margin-top: 0;
}
.page-docs section.content li,
.page-docs section.content p {
  line-height: 26px;
  font-size: 15px;
}
.page-docs section.content p {
  margin-bottom: 20px;
}
.page-docs section.content ul,
.page-docs section.content ol {
  padding: 0;
  padding-left: 18px;
  margin: 0;
  margin-bottom: 20px;
}
.page-docs section.content blockquote {
  background: #ecfafe;
  border: 0;
  text-align: center;
  color: #fff;
  padding: 30px 40px;
  margin-bottom: 20px;
}
.page-docs section.content blockquote p {
  line-height: 30px;
  color: #14204d;
  margin: 0;
}
.page-docs section.content img {
  max-width: 100%;
}
.page-docs .getting-started-logos {
  margin-bottom: 30px;
  margin-top: 30px;
  overflow: hidden;
}
.page-docs .logo-tutorial {
  background-color: #f1f1f1;
  text-align: center;
  border-radius: 3px;
  display: block;
  padding: 10px;
}
.page-docs .logo-tutorial strong {
  background-color: #fff;
  display: block;
  padding: 10px 0;
  border-radius: 3px;
}
.page-docs .logo-tutorial strong img {
  height: 45px;
  max-width: 100%;
}
.page-docs .logo-tutorial span {
  text-transform: uppercase;
  font-weight: bold;
  display: block;
  margin-top: 6px;
  font-size: 11px;
  letter-spacing: 1px;
  color: #333;
}
.page-docs .fixit {
  display: block;
  margin-top: 20px;
  text-align: right;
  padding-top: 20px;
  border-top: 1px solid #eee;
  color: #666;
}
.page-docs .fixit a {
  font-weight: bold;
}
