<button class="signin-google">Sign in with Google</button><br>
<button class="signin-facebook">Sign in with Facebook</button><br>
<button class="signin-waad">Sign in with Windows Azure AD</button><br>
<button class="signin-etc">Sign in with ...</button><br><p>--- or ---</p>
<label>User</label><input type="text" id="username"><br>
<label>Password</label><input type="password" id="password"><br>
<button class="signin-db">Sign in with Username/Password</button>

<script src="<%= auth0js_url %>"></script>
<script src="http://code.jquery.com/jquery.js"></script>
<script>
<% if (callbackOnHash) { %>  var auth0 = new Auth0({
    domain:                 '<%= account.namespace %>',
    clientID:               '<%= account.clientId %>', 
    callbackURL:            '<%= account.callback %>',
    callbackOnLocationHash: true
  });<% } else { %>  var auth0 = new Auth0({
    domain:         '<%= account.namespace %>',
    clientID:       '<%= account.clientId %>',
    callbackURL:    '<%= account.callback %>'
  });<% } %>

  $('.signin-google').on('click', function() {
    auth0.login({connection: 'google-oauth2'}); 
  });

  $('.signin-facebook').on('click', function() {
    auth0.login({connection: 'facebook'}); 
  });

  $('.signin-waad').on('click', function() {
    auth0.login({connection: 'tenant.onmicrosoft.com'}); 
  });

  $('.signin-etc').on('click', function() {
    auth0.login({connection: 'connection-name'}); 
  });

  $('.signin-db').on('click', function() {
    auth0.login({
      connection: 'foo', 
      username: 'bar', 
      password: 'foobar'
    },
    function (err) {
      // invalid user/password
    });
  });
</script>