<div id="root" style="width: 400px; margin: 40px auto; padding: 10px; border-style: dashed; border-width: 1px;">
    embeded area
</div>
<script src="<%= widget_url %>"></script>
<script>
<% if (callbackOnHash) { %>	
  var widget = new Auth0Widget({
        domain:           '<%= account.namespace %>',
        clientID:         '<%= account.clientId %>', 
        callbackURL:      '<%= account.callback %>',
        callbackOnLocationHash: true
  });<% } else { %>	
  var widget = new Auth0Widget({
        domain:         '<%= account.namespace %>',
        clientID:       '<%= account.clientId %>',
        callbackURL:    '<%= account.callback %>'
  });<% } %>
  <% if (callbackOnHash) { %> 
  // authentication result comes back in `window.location.hash`
  widget.parseHash(window.location.hash, function (profile, id_token, access_token, state) {
    /* 
      store the profile and id_token in a cookie or local storage
        $.cookie('profile', profile);
        $.cookie('id_token', id_token);
    */
  });
  <% } %>

	widget.signin({ container: 'root' });
</script>