<script src="<%= widget_url %>"></script>
<script type="text/javascript">
<% if (callbackOnHash) { %>	
  var widget = new Auth0Widget({
        domain:           '<%= account.namespace %>',
        clientID:         '<%= account.clientId %>', 
        callbackURL:      '<%= account.callback %>',
        callbackOnLocationHash: true
  });<% } else { %>	
  var widget = new Auth0Widget({
    domain:         '<%= account.namespace %>',
    clientID:       '<%= account.clientId %>',
    callbackURL:    '<%= account.callback %>'
  });<% } %>
  <% if (callbackOnHash) { %> 
  // authentication result comes back in `location.hash`
  var result = widget.parseHash(location.hash);
  if (result) {
      widget.getProfile(location.hash, function (err, profile, id_token, access_token, state) {
          // use profile to access user properties
          // use id_token to call your rest api
          // store them in local storage/cookie
      });
  }
  <% } %>
</script>
<button onclick="widget.signin()">Login</button>